@import"..//../base.css";

section.why-choose-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 13.5rem 6.4rem;
}
.why-choose-us h2.why-choose-us__title{
    max-width: 61rem;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -2%;
    color: var(--header-2);
}
h2.why-choose-us__title span.marker{
    color: var(--marker-color);

}
.why-choose-us p.why-choose-us__paragraph{
    max-width: 40rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 180%;
    letter-spacing: -2%;
    color: var(--paragraph-color);
}